#section-right{
    border-radius: 25px;
    border: 2px solid gold;
    padding: 20px;
    width: 500px;
    height: auto;
    margin-left: 150px;
    background-color: white;
    max-width: 100%;
    text-align: center;
    position: relative;
    float: right;

}
#section-left{

    border-radius: 25px;
    border: 2px solid gold;
    padding: 20px;
    width: 400px;
    height: auto;
    background-color: white;
    max-width: 100%;
    float: left;
}
.media-img {
  max-width: 100%;
}
