{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>

h1 {
  color: gold;
}

</style>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<header class="intro-header" style="background-image: url('media/img/166748.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>[NINEK]</h1>

                    <span class="subheading" style="color:#FFD700;">You love us...</span>
                </div>
            </div>
        </div>
    </div>
</header>

  <!-- Main Content -->

<div class="main-container">
    <div class="media-container">
    <h1 class="media-header">My Gallery</h1>
    {% for media in medias %}
      <div class="img-square">
        <img class="the-img" src="{{ media.images.url }}">
      </div>
    {% endfor %}
    </div>

    <div id="section-left">
    <h1>Top Stories</h1>
    <hr>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for page in pages %}
              <div class="post-preview">
                      <h2 class="post-title">
                        <a href="{% url 'ninek:page' page.slug %}">{{ page.title }}</a>
                      </h2>

                  <p class="post-meta">Posted by {{ page.author_name }} | {{ page.date_created }}</p>
              </div>
              <hr>
              {% endfor %}
              <!-- Pager -->
            
          </div>
      </div>
    </div>
</div>
</div>


{% endblock %}
